/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page-wrapper {
  background: url('../images/fundo_textura.png') repeat;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: transparent;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background: transparent;
}
#header div.section {
  background-color: #242424;
  -webkit-box-shadow: 6px 0 5px rgba(0,0,0,0.2);
  		  box-shadow: 6px 0 5px rgba(0,0,0,0.2);
}
#main {
  background-color: #fff;
  -webkit-box-shadow: 6px 0 5px rgba(0,0,0,0.2);
  		  box-shadow: 6px 0 5px rgba(0,0,0,0.2);
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #edebe8;
  border-color: #f1f0ef;
}
#footer-wrapper {
  background-color: #242424;
  -webkit-box-shadow: 6px 0 5px rgba(0,0,0,0.2);
          box-shadow: 6px 0 5px rgba(0,0,0,0.2);
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fff;
}

#name-and-slogan a:hover,
#secondary-menu-links li a:hover {
  color: #edebe8;
}