@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Source+Sans+Pro:400,600,400italic,600italic|Merriweather);

body,
h1.page-header {
  font-family: 'Droid Serif', serif;
}

body.toolbar .navbar-fixed-top {
  top: 30px;
  z-index: 499;
}

div.main-container {
  margin-top: 10px;
}

body.toolbar div.main-container {
  margin-top: -20px;
}

div.profile,
div.content {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.2em;
  line-height: 1.6em;
}

div.content p {
  margin: 0 0 1.2em 0;
}

#block-search-form {
  width: 250px;
  padding-top: 3px;
}

ol.breadcrumb {
  text-transform: lowercase;
}

body.page-user div.profile div.field.field-name-field-name {
  font-weight: 600;
}

body.page-user div.profile div.field.field-name-field-url {
  color: green;
}

body.page-user div.profile div.field.field-name-field-about {
  margin-top: 20px;
}

body.front h1.page-header {
  display: none;
}

div.node-article.node-teaser h2 {
  font-family: 'Droid Serif', serif;
}

div.content blockquote p {
  margin: 0;
  font-weight: 400;
  font-style: italic;
  color: #797979;
}

/** Links **/

ol.breadcrumb a,
section#block-menu-menu-entenda a,
div.content a,
div.submitted a,
ul.tabs--primary a,
div.node-article.node-teaser a {
  color: #4c8295;
}

ol.breadcrumb a:hover,
section#block-menu-menu-entenda a:hover,
div.content a:hover,
div.submitted a:hover,
ul.tabs--primary a:hover,
div.node-article.node-teaser a:hover {
  color: #5a9bb2;
  text-decoration: underline;
}

section#block-menu-menu-entenda h2.block-title {
  font-family: 'Droid Serif', serif;
  font-size: 1.6em;
}

/** Autores **/

div.view-content span.views-field-field-name {
  font-size: 1.5em;
}

div.view-content span.views-field.views-field-name a.username {
  color: #5a9bb2;
}

div.view-content span.views-field.views-field-name a.username:before {
  content:"@";
}

div.view-content div.views-field.views-field-field-about {
  margin: 20px;
  font-family: 'Source Sans Pro', serif;
  font-size: 1.1em;
  line-height: 1.6em;
}

/** Drop-cap **/

div.node-article div.field-name-body p:first-child:first-letter {
  float: left;
  color: #5a9bb2;
  font-size: 5em;
  line-height: 60px;
  padding: 4px 8px 0 3px;
  font-family: Georgia;
}

div.node-article div.field-name-body blockquote p:first-child:first-letter {
  float: inherit;
  padding: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}


/** Homepage blocks **/

section#block-views-artigos-block-1,
section#block-views-artigos-block-2,
section#block-views-artigos-block-3 {
  display: block;
  width: 300px;
  float: left;
}

section.block-views h2.block-title {
  font-family: 'Merriweather', serif;
  color: #666;
  text-transform: lowercase;
  margin: 30px 0 20px 0;
}

section.block-views div.view-content {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.1em;
  line-height: 1.8em;
}

section.block-views div.view-content a {
  color: #4c8295;
}


/** Footer **/

footer.footer {
  background: #394f62;
  width: 100%;
  padding-bottom: 40px;
}

section#links-projeto {
  color: #b3c2c4;
}

section#links-projeto ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.8em;
  font-family: 'Source Sans Pro';
  font-size: 1.1em;
}

section#links-projeto a {
  color: #b3c2c4;
}

section#links-projeto a:hover {
  color: #b3c2c4;
  border-bottom: 1px solid #f6ab12;
  text-decoration: none;
}

section#mailchimp {
  width: 300px;
}

section#links-projeto h2,
section#mailchimp h2 {
  color: #eff3f3;
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  text-transform: lowercase;
}

section#mailchimp p {
  color: #a5b3b4;
  line-height: 1.8em;
}

section#mailchimp input.mailchimp-email {
  background: #445e74;
  border: 0;
  color: #a5b3b4;
}

	/** Placeholder Colour **/
	
	section#mailchimp input.mailchimp-email::-webkit-input-placeholder {
	    color: #a5b3b4;
	}
	section#mailchimp input.mailchimp-email:-moz-placeholder {
	    color: #a5b3b4;
	}
	section#mailchimp input.mailchimp-email::-moz-placeholder {
	    color: #a5b3b4;
	}
	section#mailchimp input.mailchimp-email:-ms-input-placeholder {
	    color: #a5b3b4;
	}

section#mailchimp input.mailchimp-ok {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  background: #2b3e4c;
  color: #919d9e;
}

div.credits {
  background: #313131 url('../img/bg_credits.png');
  width: 100%;
  color: #f1f1f1;
}

div.credits div.container {
  padding: 20px 0 20px 0;
}