/* @override http://local.paraentender.com/sites/paraentender.com/themes/paraum/css/style.css?na95ok */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Roboto+Slab);

body,
h1.page-header {
  font-family: 'Roboto Slab', serif;
}

div.profile,
div.content {
  font-family: 'Source Sans Pro', serif;
  font-size: 1.2em;
  line-height: 1.6em;
}

div.content p {
  margin: 0 0 1.2em 0;
}

#block-search-form {
  width: 250px;
  padding-top: 3px;
}

ol.breadcrumb {
  text-transform: lowercase;
}

body.page-user div.profile div.field.field-name-field-name {
  font-weight: 600;
}

body.page-user div.profile div.field.field-name-field-url {
  color: green;
}

body.page-user div.profile div.field.field-name-field-about {
  margin-top: 20px;
}

body.front h1.page-header {
  display: none;
}

/** Links **/

ol.breadcrumb a,
section#block-menu-menu-entenda a,
div.content a,
div.submitted a {
  color: #4c8295;
  text-decoration: underline;
}

ol.breadcrumb a:hover,
section#block-menu-menu-entenda a:hover,
div.content a:hover,
div.submitted a:hover {
  color: #5a9bb2;
  text-decoration: underline;
}

section#block-menu-menu-entenda h2.block-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6em;
}